@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
	position: relative;
}

H1,H2,H3,H4,H5,H6{margin: 0; font-size: 1.0em;}

HTML {
	height: 100%;
	font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

BODY {
	margin: 0;
	height: 100%;
	background-color: #888;
	min-width: 1250px;
}

.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
	
.clearfix:after {
	clear: both;
}

#toolbar {
	background: linear-gradient(#555555, #303030);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	margin: 0 -5px 0 -5px;
	padding: 0 5px;
	border-bottom: 2px solid #222222;
	height: 3em;
	text-shadow: 1px 1px 0 #000;
	z-index: 1;
}

#toolbar h1 {
	display: inline-block;
	color: #fff;
	line-height: 3em;
	padding: 0 1em;
	font-size: 1.1em;
}

#toolbar h1 small {
	color: #bbb;
	margin-left: 1em;
}

#toolbar ul {
	float: right;
	margin: 0.625em;
	padding: 0;
	list-style-type: none;
	text-shadow: 1px 1px 0 #368;
	box-shadow: 0 0 7px 1px rgba(0,0,0,.4);
	border-radius: 5px;
}

#toolbar ul li {
	float: left;
	margin: 0;
	padding: 0;
}

#toolbar ul li a {
	display: block;
	padding: 0.3em 1em;
	color: #adf;
	text-decoration: none;
	font-size: 0.75em;
	margin: 0;
	background-color: #69b;
	border-top: 2px solid #8bd;
	border-bottom: 2px solid #8bd;
}

#toolbar ul li a span {
	margin-right: 0.5em;
}

#toolbar ul li:first-child a {
	border-radius: 5px 0 0 5px;
}

#toolbar ul li:last-child a {
	border-radius: 0 5px 5px 0;
}

#toolbar ul li a:hover {
	background-color: #8bd;
	color: #fff;
}



#repository {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 3.125em;
	min-width: 20em;
	max-width: 20em;
	width: 20em;
	background-color: #69b;
	overflow: scroll;
	overflow-x: hidden;
	border-right: 5px solid #8bd;
	padding: 0.5em;
}

#repository ul.lang {
	float: left;
	margin: 0;
	padding: .25em;
	list-style-type: none;
	border: 2px solid #8bd;
	border-radius: 5px;
	text-align: center;
	font-size: 0.7em;
	color: #8bd;
	font-weight: bold;
	width: 2em;
	height: 1.5em;
}

#repository .stfChooser {
	border: 2px solid #8bd;
	display: block;
	margin: 0 2.40em 0 3em;
	padding: .25em;
	border-radius: 5px;
	text-align: left;
	font-size: 0.7em;
	color: #adf;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	height: 1.5em;
	outline: 0;
}

#repository .searchStf {
	float: right;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1.5em;
	color: #8bd;
	font-weight: bold;
	text-decoration: none;
	line-height: 1em;
	vertical-align: bottom;
}

#repository .searchStf:hover {
	color: #adf;
}

#canvas {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 3.125em;
	left: 21.3125em;
	background-color: #888;
}

.button-pane {
	text-align: right;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	padding: 0.5em;
	font-size: 0.9em;
	width: 10em;
	border-radius: 3px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}

.button:active {
	position:relative;
	top:1px;
}

#about { display: none; }

#savedProgress {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	padding: 1em;
	color: #fff;
	display: none;
}